
.ai-navigator/
.anaconda/
.android/
.bash_history
.cache/
.chocolatey/
.conda/
.condarc
.config/
.continuum/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.minttyrc
.node_repl_history
.python_history
.thumbnails/
.viminfo
.viminfo.tmp
.vscode/
.zowe/
AppData/
CS50
DJANGO/
Calculator/
Contacts/
CrossDevice/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Life/
Links/
Moon/
More/
Morest-app/
Morest/
NTUSER.DAT
NTUSER.DAT*
Nzalo
numbers/
OneDrive/
Portfolio-app/
SC50/
Saved Games/
Searches/
TRYING SHAME/
Untitled.ipynb
Untitled1.ipynb
anaconda3/
anaconda_projects/
applications.json
file1.txt
how_to_merge/
index.html
komorebi.bar.json
komorebi.json
learn py/
my_files/
my_life.py
my_projects/
mypro/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
projectname/
python-visual-cli/
test/
win/
